@import 'config.scss';

html{
    padding: 1.5em;
}

* {
    margin: unset;
    margin-inline: 0;
}
/*
html,
body,
#__next {
    height: 100vh;
}
*/
body {
    color: #BFBFBF;
}

a {
    text-decoration: unset;
}




main {
    min-height: 60vh;
    min-width: min-content;
    //line-height: 10vh;
    //padding-top: 5em;
    

    display: flex;
    flex-flow: column;
    //justify-content: center;
    //align-items: center;

    h2 {
        //font-size: 7vh;
        font-weight: normal;
        margin-bottom: 5vh;
    }

    p {
        font-size: 20px;
    }

    /*
    a{
        //font-size: 4vh;
    }*/
}

#dark main a {
    color: $white;

}

#light main a {
    color: $primary-dark;

}


.pageJump{
    padding-top: 8em;
}



menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2em;

    svg {
        margin-left: 2em;
        margin-right: 2em;
    }
}



.hide {
    position: absolute;
    visibility: hidden;
}

.hideSB {
    overflow: hidden;
}





@media (min-width: 1000px) {
    main {
        padding-left: 15vw;
        padding-right: 15vw;
    }
    
}

@media (min-width: 1600px) {
    main {
        padding-left: 25vw;
        padding-right: 25vw;
    }
    
}


#light{
    transition: background-color 0.3s, color 1.5s;
    color: $primary-dark;
    background-color: white;

    nav ul li a{
      transition: color 1.5s;
      color: white;
    }
    nav{
      top{
        background-color: $primary-dark;
      }

      ul{
        justify-content: center;
        background-color: $primary-dark;
      }

      
    }
  }




  #dark{
    transition: background-color 0.3s, color 1.5s;
    color: $white;
    background-color: $dark;


}