@import 'config.scss';
@import 'getFont.scss';

.color{
    color: $primary;
}

.size{
    font-size: 48px;
}


.container_links{
    display: flex;
    
    margin: 2em;
    flex-direction: column;
    align-items: end;
    font-family: 'PlayfairDisplay';
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 80vh;
    flex-wrap: wrap;
    flex-direction: row;
}


/*211 × 256*/
/*
@media (min-width: 1000px) {
    .size{
        font-size: 64px;
    }
    
  }*/
  /*
@media (min-width: 1600px) {
    .articles { grid-template-columns: repeat(3, 1fr); }
}*/