@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url("../fonts/Roboto-Regular.ttf") ;
}

@font-face {
    font-family: 'Roboto-Black';
    font-display: swap;
    src: url("../fonts/Roboto-Black.ttf") ;
}

@font-face {
    font-family: 'PlayfairDisplay';
    font-display: swap;
    src: url("../fonts/PlayfairDisplay-VariableFont_wght.ttf") ;
}

@font-face {
    font-family: 'Noto Sans';
    font-display: swap;
    src: url("../fonts/NotoSans-Medium.ttf") ;
}