@import 'config.scss';
@import 'getFont.scss';

.color{
    color: $primary;
}

.container{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 80vh;
    flex-wrap: wrap;
    flex-direction: unset;
}

.container_links{
    margin: 2em;
    font-family: 'PlayfairDisplay';
    h1{
        padding-top: 0.5em;
        font-size: 48px;
    }
    h2 {
        font-size: 32px;
    }
    span {
        font-family: 'Roboto';
        font-size: 20px;
    }
}
/*
@media (min-width: 1000px) {
    .container_links{
        h1{
            font-size: 64px;
        }
        
        h2 {
            font-size: 40px;
        }
        span {
            font-size: 32px;
        }
    }
  }*/