@import 'config.scss'; 

.container[data-ismenu="true"]{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 6em;
    transition: background-color 0.3s, height 0.3s,  flex-direction 0.3s;
  }
  
/*
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    transition: background-color 0.3s, height 0.3s,  flex-direction 0.3s;
    
  }
*/


  .container {
    position: fixed;
    top: 0px;
    width: 100%;
    align-items: center;
    z-index: 5;
    background-color: $dark;

    ul {
        align-items: center;
        height: 100%;
        display: flex;
        list-style: none;
        margin-block: unset;
        margin-inline: unset;
        padding-inline: unset;


        li {
            margin-left: 2em;
            margin-right: 2em;
            letter-spacing: 0.3em;

            a {
                text-decoration: unset;
                color: white;
            }
        }

    }
}


/*
.container,
.container[data-ismenu="true"] {
    menu {
        svg {

            position: inherit;
            visibility: visible;
        }
    }
}
*/


.ul {
    height: 100%;
    width: 100%;
    /*min-height: min-content;*/
}
  
#dark{
    .container{
      top{
        color: $white;
        background-color: $dark;
      }

      ul{
        justify-content: center;
        background-color: $dark;
      }
      
    }

    nav ul li a{
      transition: color 1.5s;
      color: $white;
      }

}

